---
import svg_f7a42e359dd80ca2ba12b76826fa8ef2 from "./svg_f7a42e359dd80ca2ba12b76826fa8ef2.svg?raw"
---

<div id="some_button">
  <Fragment set:html={svg_f7a42e359dd80ca2ba12b76826fa8ef2} />
</div>
